body {
  background-color: #DDDDDD ;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_contents {
  margin-top: 50px;
  background-color : #FFFFFF;
  width : 540px;
  height : 700px;
  opacity : 0;
    transition : opacity 0.4s ease;
    -webkit-transition : opacity 0.4s ease;
}
#progressDiv {
  //display:none;
}
#progressText{
  float:right;
  margin-right : 20px;
  margin-top : 10px;
}
*{
    box-sizing : border-box;
}
#qna_mask{
  display : block;
  height : 100%;
  width : 100%;
  font-size : 20px;
  overflow : hidden;
  padding-left : 20px;
  padding-right : 20px;
}
#question {
  display : block;
  margin-top: 20px;
  margin-bottom : 50px;
}
#qna_slider {
  list-style : none;
  padding : 0px;
  margin : 0px;
  display : inline-block;
}
#qna_slider li {
  list-style-type: none;
  display : inline;
  float : left;
  padding : 20px;
  width : 500px;
}

#qna_slider {/*
  -webkit-transform : translate(0,0);
  -webkit-transform : -webkit-transform 500ms;

  transform: translate(0,0);
  transition: transform 500ms;*/

  position : relative;
}/*
#qna_slider.move{
  -webkit-transform :  translate(-500px,0px);
  transform:translate(-500px,0px);
}*/

button  {
  display:block;
}
#answers {
}
.answers {
  display : block;
  margin-bottom : 10px;
  width : 100%;
  min-height : 50px;
  border: 1px solid gray;
  word-wrap:break-word;
  text-align: left;
  padding : 10px;
  background-color : #EEE;
}
.selected {
    background-color : #2E2;
}
#bgcontainer{
  width  :100%;
  //height : 100%;
  text-align: center;
  position : relative;
}
#titleImg{
  width:100%;
  filter: brightness(0.4);
}
#titleText{
  color:white;
  position : absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//https://nykim.work/84
@media (max-width:600px)  {

}
