body {
  background-color: #DDDDDD ;
    background-color: #FFF ;
  display: flex;
  justify-content: center;
  //align-items: center;
}
#main_contents {
  //margin-top: 50px;
  background-color : #FFFFFF;
  width : 100%;
  height : 200%;
  max-width : 600px;
  //width : 390px;
  opacity : 0;
    transition : opacity 0.4s ease;
    -webkit-transition : opacity 0.4s ease;
}
#progressDiv {
  //display:none;
  display : block;
}
#progressText{
  //float:right;
  margin-right : 20px;
  margin-top : 10px;
  text-align: right;
  display : block;
}
#progressBar{
  width : 100%;
  background-color : gray;
    height : 20px;
}
#progressValue{
  width:0;
    height : 20px;
  animation: all 1s forwards;
  -webkit-animation: all 1s forwards;
  background-color : blue;
}
*{
    box-sizing : border-box;
}
#qna_mask{
  display : block;
  height : 100%;
  max-width : 350px;
  font-size : 20px;
  overflow : hidden;
  margin:auto;
}
#question {
  display : block;
  margin-top: 20px;
  margin-bottom : 50px;
}
#qna_slider {
  list-style : none;
  padding : 0px;
  margin : 0px;
  display : inline-block;
}
#qna_slider li {
  list-style-type: none;
  display : inline;
  float : left;
  padding : 20px;
  width : 350px;
}

#qna_slider {/*
  -webkit-transform : translate(0,0);
  -webkit-transform : -webkit-transform 500ms;

  transform: translate(0,0);
  transition: transform 500ms;*/

  position : relative;
}/*
#qna_slider.move{
  -webkit-transform :  translate(-500px,0px);
  transform:translate(-500px,0px);
}*/

button  {
  display:block;
}
#answers {
}
.answers {
  display : block;
  margin-bottom : 10px;
  width : 100%;
  min-height : 50px;
  border: 1px solid gray;
  word-wrap:break-word;
  text-align: left;
  padding : 10px;
  background-color : #EEE;
}
.selected {
    background-color : #2E2;
}
#bgcontainer{
  width  :100%;
  //height : 100%;
  text-align: center;
  position : relative;
}
#titleImg{
  width:100%;
  //filter: brightness(0.4);
}
#titleText{
  display:none;
  color:white;
  position : absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  font-size : 3vw;
  transform: translate(-50%, -50%);
}
#startButton{
  width : 80%;
    margin-left : 50%;
    transform: translate(-50%, 0);
    margin-top : 50px;
  font-size : 24px;
  height : 70px;
}
#introText{
  padding : 15px;
  font-size: 15px;
  line-height : 1.6;
  word-wrap:keep-all;
  width : 100%;
    margin-left : 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

//https://nykim.work/84
@media (max-width:600px)  {

}
