* {   box-sizing : border-box; }

@font-face{
  src : url("../cookie.ttf");
  font-family:"rix";
}
html {
//overflow-x: hidden;
   height:100%;
   width : 100%;
   word-break : keep-all;
   font-family : "rix";

}

body {
  background-color: #fffbf9;
  display: flex;
  justify-content: center;
  //align-items: center;
  height:100%;
  width : 100%;
  margin : 0;
}

#main_contents {
  width : 100%;
  height : 100%;
  max-width : 600px;
  opacity : 0;
  padding : 10px;
  text-align: center;
  transition : opacity 0.4s ease;
  -webkit-transition : opacity 0.4s ease;
}
