#bgcontainer{
  width  :100%;
  text-align: center;
  position : relative;
}
#titleImg{
  width:100%;
}
#titleText{
  display:none;
  color:white;
  position : absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  font-size : 18px;
  transform: translate(-50%, -50%);
}
#startButton{
  width : 70%;
  margin : auto;
    margin-top : 50px;
  font-size : 30px;
  height : 70px;
  font-family: "rix";
  background-color: #FDF2E9;
  border-color : #EDBB99;
  border-radius: 10px;
  border-width: 5px;
  color : #6E2C00;
}
#introText{
  padding : 15px;
  font-size: 18px;
  line-height : 1.6;
  word-wrap:keep-all;
  width : 100%;
    margin-left : 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

//https://nykim.work/84
@media (max-width:600px)  {

}
