
html {
  overflow: hidden;
}
#progressDiv {
  display : block;
}

#progressText{
  display : block;
  margin-right : 20px;
  margin-top : 10px;
  text-align : right;
}

#progressBar{
  width : 100%;
  height : 20px;
  background-color : #CCD1D1 ;
}

#progressValue{
  width : 0;
  height : 20px;
  background-color : #F8C471;

  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

#qna_mask{
  display : block;
  margin:auto;
  max-width : 350px;
  height : 100%;
  font-size : 20px;
  overflow : hidden;
}

#question {
  display : block;
  margin-top: 20px;
  margin-bottom : 50px;
  font-size : 24px;
}

#qna_slider {
  list-style : none;
  padding : 0px;
  margin : 0px;
  display : inline-block;
}

#qna_slider li {
  display : inline;
  list-style-type: none;
  float : left;
  padding : 20px;
  width : 350px;
}

#prevButton{
  display: none;
  position : absolute;
  left: 50%;
  bottom : 150px;
  transform: translate(-50%,0);
  width : 100px;
  height : 50px;
  font-family: "rix";
  font-size : 18px;
  border-radius : 5px;
  border-color : #85929E;
  background-color: #EAEDED;
  border-style : solid;
  border-width : 2px;
  color : #5D6D7E;
}

#qna_slider {
  position : relative;
}

button  {
  display:block;
}

.answers {
  display : block;
  margin-bottom : 10px;
  padding : 15px;
  width : 100%;
  min-height : 50px;
  border: 1px solid gray;
  word-break : keep-all;
  text-align: left;
  background-color : #EEE;
  font-family: "rix";
  font-size : 18px;
  background-color: #FDF2E9;
  border-color : #EDBB99;
  border-radius: 10px;
  border-width: 3px;
  margin-top : 20px;
  color : #6E2C00;
}
.selected {
    background-color : #E67E22;
    border-width : 4px;
    color : #FAE5D3;
    border-color : #873600;
}
